# macOS
.DS_Store
**/.DS_Store

# Xcode user-specific
**/xcuserdata/
**/*.xcuserstate
**/*.xccheckout
**/*.xcscmblueprint

# Xcode build products
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.build-cache
Package.swift

# Local environment / secrets
.env
.env.local
Local.xcconfig

# Outer tests
Tests/
TestsSupport/
